<a href="https://colab.research.google.com/github/aditya869/Python-For-Data-Science/blob/master/Copy_of_TryItYourself.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###exercise:

In [ ]:
for x in [0, 1, 2]:
  pass

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

###1.Loop through the items in the fruits list.

#### hint: looping

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

###2.Print i as long as i is less than 6.

#### hint:looping

In [ ]:
i = 1
while i < 6: 
  print(i)
  i += 1

1
2
3
4
5

### 3.Print "Hello World if a is greater than b.

####hint: conditional statements

In [ ]:
a = 50
b = 10
if a > b:
  print("Hello World")

Hello World

###4.Take a variable x and print "Even" if the number(x) is divisible by 2, otherwise print "Odd".

In [ ]:
num = int(input("Enter a number:"))
if  (num % 2) == 0:
    print("{0} is Even".format(num)) 
else:
    print("{0} is odd".format(num))

Enter a number:5
5 is odd

###5.Take a variable y and print "Grade A" if y is greater than 90, "Grade B" if y is greater than 60 but less than or equal to 90 and "Grade F" Otherwise.

In [2]:
y = int(input())
print(y)
if(y>90):
    print("Grade A")
elif(90>=y>60):
    print("Grand B")
else:
    print("otherwise")

45
45
otherwise

###6. Write a for loop to print all the numbers between 10 and 50.

In [ ]:
for i in range(10,50):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

###7.Write a for loop to print all the 0dd numbers between 50 and 100.

#### hint: use range with step.

In [ ]:
lower=int(input("Enter the lower limit for the range:"))
upper=int(input("Enter the upper limit for the range:"))
for i in range(lower,upper+1):
    if(i%2!=0):
       print(i)

Enter the lower limit for the range:50
Enter the upper limit for the range:100
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99